.bg {
    background-color: crimson;
}

/* -------------------------------------------------------------------------------------- */
/* Nav Bar CSS */
.navbar{
    padding: 0;
}

.navbar-toggler{
    box-shadow: none;
}

nav .nav-item a:hover {
    color: rgb(133, 218, 6) !important
}

/* -------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------- */
/* Rules Page and other pages CSS */
.float-container {
    padding: 5px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 10px;
}  

.link {
    padding-top: 1%;
    color: rgb(17, 1, 102);
    align-items: center;
}

.game-details {
    padding-top: 4%;
    text-align: center;
}
/* -------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------------- */
/* Main Page CSS */
.main {
    padding: 2rem 2rem;
    text-align: center;
    height: 400px;
    padding-left: 5%;
    margin: 1rem;
}


.Information {
    float: left;
    padding: 1rem 1rem;
    border: 0.5px solid crimson;
    width: 45%;
    background-color: light rgb(187, 187, 118);
    background: rgb(211, 239, 248);
    border-radius: 25px;
    text-align: center;
    margin-right: 5%;
    height: 340px;
}

.Information2 {
    float: left;
    border: 0.5px solid crimson;
    width: 580px;
    background-color: light rgb(187, 187, 118);
    background: rgb(211, 239, 248);
    border-radius: 25px;
    text-align: center;
    height: 340px;
}

.Information3 {
    text-align: center;
    padding: 50px;
    border-radius: 25px;
    background-color: light rgb(187, 187, 118);
    background: rgb(211, 239, 248);
    height: 400px;
}

body {
    background: light rgb(122, 122, 26);
}

/* -------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------- */
/* Images Slider CSS */
.slider {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 400%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
    width: 500px;
    height: 300px;
}

.slide {
    width: 40%;
    transition: 0.8s;
}

.slide img {
    width: 500px;
    height: 300px;
}

.manualMoving {
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.CheckingBTN {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.CheckingBTN:not(:last-child) {
    margin-right: 20px;
}

.CheckingBTN:hover {
    background: #40D3DC;
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -40%;
}

#radio3:checked~.first {
    margin-left: -88%;
}

#radio4:checked~.first {
    margin-left: -128%;
}

.selfMoving {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 400px;

}

.selfMoving div {
    border: 2px solid #40D3DC;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
}

.selfMoving div:not(:last-child) {
    margin-right: 20px;
}

#rules{
    list-style-type: none;
}



#radio1:checked~.selfMoving .selfCheckingBTN1 {
    background: #40D3DC;
}

#radio2:checked~.selfMoving .selfCheckingBTN2 {
    background: #40D3DC;
}

#radio3:checked~.selfMoving .selfCheckingBTN3 {
    background: #40D3DC;
}

#radio4:checked~.selfMoving .selfCheckingBTN4 {
    background: #40D3DC;
}

/* -------------------------------------------------------------------------------------- */