<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      #Feedback{
        display: flex;
        margin: auto;
      }
    </style>
    <title>Feedback</title>
</head>
<body style="background-color: rgb(113, 170, 236);">

  <script id="replace_with_navbar" src="script.js"></script>


  <br>
  <iframe id="Feedback" src="https://docs.google.com/forms/d/e/1FAIpQLSeNU1JqI3H9FGvl2XXS4U6vctfLt2uAHLmKPnQlf9yva8c-RQ/viewform?embedded=true" width="900" height="800" frameborder="0" marginheight="0" marginwidth="0">Google Form Loading</iframe>
    
</body>
</html>