<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <style>
    #myvideo {
      border: 0.5px solid crimson;
      display: flow-root;
      margin: auto;
      border-radius: 25px;
    }
    #mainPageHeading{
      color: brown;
      text-align: center;
      padding-top: 15px;
    }
  </style>

  <title>Home</title>
</head>

<body>

  <script id="replace_with_navbar" src="script.js"></script>

  <h1 id="mainPageHeading" style="padding-top: 3%; text-align: center;"><b>Welcome to the Space Adventure Game Page. &#127909;</b> </h1>

  <div class="main">
    <div class="Information">
      <div class="slider">
        <div class="slides">
          <input type="radio" name="radio-btn" id="radio1">
          <input type="radio" name="radio-btn" id="radio2">
          <input type="radio" name="radio-btn" id="radio3">
          <input type="radio" name="radio-btn" id="radio4">

          <div class="slide first">
            <img id="myimage" title="Badri" src="./resources/intro_page.png" alt="Badri Image">
          </div>
          <div class="slide">
            <img id="myimage" title="Badri" src="./resources/single_player.png" alt="Badri Image">
          </div>
          <div class="slide">
            <img id="myimage" title="Badri" src="./resources/multi_player.png" alt="Badri Image">
          </div>
          <div class="slide">
            <img id="myimage" title="Badri" src="./resources/git_graph.png" alt="Badri Image">
          </div>

          <div class="selfMoving">
            <div class="selfCheckingBTN1"></div>
            <div class="selfCheckingBTN2"></div>
            <div class="selfCheckingBTN3"></div>
            <div class="selfCheckingBTN4"></div>
          </div>

        </div>

        <div class="manualMoving">
          <label for="radio1" class="CheckingBTN"></label>
          <label for="radio2" class="CheckingBTN"></label>
          <label for="radio3" class="CheckingBTN"></label>
          <label for="radio4" class="CheckingBTN"></label>
        </div>

        <script type="text/javascript">
            var counter = 1;
            setInterval(function(){
              document.getElementById('radio'+counter).checked = true;
              counter++;
              if(counter>4) {
                counter=1;
              }
            }, 5000)
          </script>
      </div>
    </div>
    <div class="Information2">
      <h3 style="padding-top:15px; color: rgb(110, 33, 5);">DECLARATION &#128516;</h3>
      <p id="desc" style="font-size:11pt; padding: 10px 20px 20px 20px; font-weight: 500;  word-spacing: 4px;"> As part of Software Lab CS699 Project, we have developed <b>Python Game application</b> using Python &#128513; 
        We solemnly declare that all the work that is done is solely done by us and no malpractises have been used. we declare this as our original work. &#128526; </p>
        <h3 style="padding-top:15px; color: rgb(110, 33, 5);">TOOLS USED &#127773;&#127770; </h3>
        <p id="desc" style="font-size:11pt; padding: 10px 20px 20px 20px; font-weight: 500;  word-spacing: 4px;">As required, we have used <i>PYTHON</i>🐍, <i>HTML/CSS</i>&#128288;, <i>PYPLOTS</i>&#128202;, <i>Latex</i>(to make report&#127891;), <i>GIT</i>&#129302; and VSCode/Pycharm <i>IDE</i>&#129351; for this project&#128293; Thanks&#128522;</p>
      </div>
  </div>


  <h1 id="mainPageHeading" style="padding-bottom: 10px;text-align: center;"><b>Small snippet video of the Game &#128248;</b> </h1>
  <video id="myvideo" width="600" height="350" controls>
    <source src="./resources/gameplay.mp4" type="video/mp4">
    Browser is not supporting this video.
  </video>

  <div class="game-details">
    <h1 id="mainPageHeading" style="padding-bottom: 30px;""><b>Game Details!!! &#128516;</b> </h1>
    <div class="Information3">

    <p>The game is developed in python and the paradigms of object oriented programming are used. Each component of the game is a class, be it the player, enemy or the bullet. These classes have various methods methods associated with them. As pygame refreshes the screen according to the given Frames Per Second (FPS) rate, and projects the surface associated to each element onto the screen, each component has an associated surface. As any of the components move the coordinates(i.e, associated attributes of the object) change accordingly.</p>
    <p>Various PNG images (free to use) were adopted as space ships, bullets enemies and game background images. Some times the same object had multiple images associated with it. As an example the first enemy in Single Player mode has 3 associated images. As soon as the bullet from the player strikes this enemy its face changes from angry to crying and then finally pale. This creates a dynamic effect to the character of game elements.</p>
    <p>The collisions between different objects are calculated by various conditions on their position attributes. A collision of the bullet with the enemy or player results in its life (attribute of the object) being decreased. Each player/enemy has a fixed life. If the player's life diminishes the game is over. If the enemy's life diminishes then the enemy object is deleted. Each loop of pygame refresh checks for all the possible collisions, and changes the attributes accordingly for each element.</p>
  </div>
  </div>

</body>

</html>