<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <style>
        .Rule {
          background-color: rgb(130, 196, 9);
          color: rgb(17, 1, 102);
          border: 2px solid black;
          margin: 20px;
          padding: 20px;
          font-family: 'Times New Roman';
          font-size: large;
          font-style: oblique;
        }
        </style>
    <title>Rules</title>
</head>
<body>

  <script id="replace_with_navbar" src="script.js"></script>

  <h1 id="mainPageHeading" style="padding-top: 3%; text-align: center;"><b>These are the Rules you should abide to!!&#128207;</b> </h1>

  <ol id="rules">
    <li class="Rule">
        <h3>Starting the Game</h3>
        <ul>
            <li>Either select Single Player Game or the Multi Player Game</li>
            <li>You can select them hovering the curser on to the single player space man or multi-player space man and clicking on him</li>
        </ul>
        <div class="link">
            <img src="resources/intro_page.png" alt="Italian Trulli">
            </a>
        </div>
    </li>
    <li class="Rule">
        <h3>Single Player Rules</h3>
        <ul>
            <li>Collaborated in development of a web portal through which household and community grievances are raised and solved through push notifications delivered to service providers, Organizations and government authorities also hosting a community feed page</li>
            <li>Deployed the product in heroku and achieved effective administration of portal with dashboard and admin authorization</li>
        </ul>
        <div class="link">
            <a href="https://www.youtube.com/watch?v=uPKtLi3UqB8">
              <input type="button" value="Demo Video">
            </a>
            <a href="https://issue-redressal.herokuapp.com/">
                <input type="button" value="web app">
            </a>
          </div>
    </li>
    <li class="Rule">
        <h3>Multi Player Rules </h3>
        <ul>
            <li>Developed a movies recommendation system for users with known and unknown ratings using collaborative filtering</li>
            <li>Constructed plagiarism detection software using standard techniques of shingling, minhashing and locality sensitive hashing</li>
            <li>Enhanced software to accurately recommend movies with minimized glitch of 1-2% and using baseline approach</li>
        </ul>
        <div class="link">
            <a href="https://github.com/kasuba-badri-vishal/Recommender_Systems">
              <input type="button" value="Github Repository">
            </a>
        </div>
        
    </li>
    <li class="Rule">
        <h3>Other Rules</h3>
        <ul>
            <li>Worked on project to fasten large data file transfers using multiple TCP connections like wifi, ethernet, mobile data, etc simultaneously</li>
            <li>Outpaced transferring files by reducing time to nearly 50% than usual data file transfer with use of schedulers</li>
        </ul>
        <div class="link">
            <a href="https://github.com/kasuba-badri-vishal/mptcp_and_mpquic_project">
              <input type="button" value="Github Repository">
            </a>
        </div>
        
    </li>
  </ol>


    
</body>
</html>