<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <style>
        .Rule {
          background-color: rgb(130, 196, 9);
          color: rgb(17, 1, 102);
          border: 2px solid black;
          margin: 20px;
          padding: 20px;
          font-family: 'Times New Roman';
          font-size: large;
          font-style: oblique;
        }
        </style>
    <title>Rules</title>
</head>
<body>

  <script id="replace_with_navbar" src="script.js"></script>

  <h1 id="mainPageHeading" style="padding-top: 3%; text-align: center;"><b>These are the Rules you should abide to!!&#128207;</b> </h1>

  <ol id="rules">
    <li class="Rule">
    <div class="float-container">

        <div class="float-child">
            <h3>Starting the Game</h3>
            <ul>
                <li>Either select Single Player Game or the Multi Player Game</li>
                <li>You can select them hovering the curser on to the single player space man or multi-player space man and clicking on him</li>
            </ul>
        </div>
        
        <div style="text-align: center; vertical-align: middle;">
            <img src="resources/intro_page.png" alt="Italian Trulli" width="500" height="300">
            <!-- </a> -->
        </div>    
      </div>
    </li>
    <li class="Rule">
        <div class="float-container">

            <div class="float-child">
                <h3>Single Player Rules</h3>
                <ul>
                    <li>Wait until the instructions of the Game are displayed on the screen and just enjoy the music!!!</li>
                    <li>The Enemies starts coming up one after the other in packs</li>
                    <li>Shoot them to death until they dissappear or you will be dying. Use SPACEBAR as your shooting gun</li>
                    <li>You can move with standard UP, DOWN, LEFT, RIGHT keys and kill all the enemies including main villain until one of them gives up</li>
                    
                </ul>
            </div>
            <div style="text-align: center; vertical-align: middle;">
                <img src="resources/single_player.png" alt="Italian Trulli" width="500" height="300">
                <!-- </a> -->
            </div>    
        </div>
    </li>
    <li class="Rule">
        <div class="float-container">

            <div class="float-child">
                <h3>Multi Player Rules</h3>
                <ul>
                    <li>Wait until the instructions of the Game are displayed on the screen and just enjoy the music!!!</li>
                    <li>The Enemies starts coming up one after the other in packs</li>
                    <li>Shoot them to death until they dissappear or you will be dying. Use SPACEBAR as your shooting gun</li>
                    <li>You can move with standard UP, DOWN, LEFT, RIGHT keys and kill all the enemies including main villain until one of them gives up</li>
                    
                </ul>
            </div>
            <div style="text-align: center; vertical-align: middle;">
                <img src="resources/single_player.png" alt="Italian Trulli" width="500" height="300">
                <!-- </a> -->
            </div>    
        </div>
    </li>
    <li class="Rule">
        <div class="float-container">

            <div class="float-child">
                <h3>Other Instructions</h3>
                <ul>
                    <li>Wait until the instructions of the Game are displayed on the screen and just enjoy the music!!!</li>
                    <li>The Enemies starts coming up one after the other in packs</li>
                    <li>Shoot them to death until they dissappear or you will be dying. Use SPACEBAR as your shooting gun</li>
                    <li>You can move with standard UP, DOWN, LEFT, RIGHT keys and kill all the enemies including main villain until one of them gives up</li>
                    
                </ul>
            </div>
            <div style="text-align: center; vertical-align: middle;">
                <img src="resources/single_player.png" alt="Italian Trulli" width="500" height="300">
                <!-- </a> -->
            </div>    
        </div>
    </li>
  </ol>


    
</body>
</html>