<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <style>
      #check{
        width: 100%;
        padding-left: 40%;
        padding-bottom: 40px;
      }  
      .para{
        border-style: solid;
      }   
    </style>
</head>
<body style="background-color: rgb(92, 253, 92);">

  <script id="replace_with_navbar" src="script.js"></script>

  <h1 id="mainPageHeading" style="padding-top: 3%; text-align: center; color: orangered; padding-bottom: 2%;"><b>My Hobbies. &#128512;</b> </h1>

  <div style=" font-size: 30px; color: tomato;">
    <div id="check">
      <input type="checkbox" id="hobby1" name="Play" value="Play" onclick="learnmore1()">
      <label id="hobby1" for="hobby"> <i>Playing Sports</i></label>
    </div>
    <p class="para" id="learnmore1" style="display:none">I do like playing outdoor games. I have no specialization, but it helps me stay physically fit and also enhancing skills not only physically but also mentally. Guess what, I am learning swimming too here..</p>
    <div id="check">
      <input type="checkbox" id="hobby2" name="Play" value="Play" onclick="learnmore2()">
      <label id="hobby2" for="hobby"> <i>Listening to Music</i></label>
    </div>
    <p class="para" id="learnmore2" style="display:none">Yes, this is everyone's hobby, stress buster, energy provider and what not. I listen to songs of all genres, no bias &#128514;</p>
    <div id="check">
      <input type="checkbox" id="hobby3" name="Play" value="Play" onclick="learnmore3()">
      <label id="hobby3" for="hobby"> <i>Watching Movies, Anime and News</i></label>
    </div>

    <p class="para" id="learnmore3" style="display:none">When I am bored as hell, this is what I do. Catchup with the world events and also binge watch movies and webseries</p>
  </div>
  
    
</body>
</html>