<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
</head>

<body style="background-color: rgb(114, 241, 114);">

  <script id="replace_with_navbar" src="script.js"></script>

  <h1 id="mainPageHeading" style="padding-top: 3%; text-align: center; color: orangered; padding-bottom: 2%;"><b>The Statistics of the Game &#128512;</b> </h1>

  <div class="float-container" style="padding-bottom: 100px;">

    <div class="float-child" style="padding-left: 50px;">
      <img id="myimage" title="Badri" src="./resources/pie.png" alt="Badri Image">
    </div>
    <div>
      <img id="myimage" title="Badri" src="./resources/bar.png" alt="Badri Image">
    </div>
  </div>
  
    
</body>
</html>